# virutal env
venv

# API Keys
.env

# Data Folders
raw_data
transformed_data
initial_upload_raw_data

# Airflow Files (Everything other than dags folder)
airflow/logs
airflow/airflow-webserver-monitor.pid
airflow/airflow-webserver.err
airflow/airflow-webserver.log
airflow/airflow-webserver.out
airflow/airflow-webserver.pid
airflow/airflow.cfg
airflow/airflow.db
airflow/webserver_config.py

# Cached Data
.DS_Store
__pycache__