# virutal env
venv

# API Keys
.env

# Data Folders
data
raw_data
transformed_data
initial_upload_raw_data
initial_upload_transformed_data

# Airflow Files (Everything other than dags folder)
airflow/logs
airflow/airflow-webserver-monitor.pid
airflow/airflow-webserver.err
airflow/airflow-webserver.log
airflow/airflow-webserver.out
airflow/airflow-webserver.pid
airflow/airflow.cfg
airflow/airflow.db
airflow/webserver_config.py
airflow/dags/IS3107A3_GERARDTANWEIKIAT.py
airflow/dags/tutorial_etl_dag_is3107.py

# Cached Data
.DS_Store
__pycache__
.ipynb_checkpoints