# For reference ==> recommend to pip install each libraries manually
# instead of pip install -r requirements.txt

numpy
pandas
python-dotenv
apache-airflow==2.3.1
SQLAlchemy
pymysql
matplotlib
requests
scikit-learn
seaborn
plotly-express
dash-bootstrap-components
dash-bootstrap-templates
